# Python
__pycache__/
*.py[cod]
venv/
.env

# Large datasets
database/data/*.csv

# ML model
ml/*.pkl
PROJECT_STRUCTURE.md
QUICKSTART.md
# Node
node_modules/
dist/
final_text_to_sql_model/
# IDE
.vscode/
.idea/